* {
  font-size: 18px;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A80B9;
}

.App {
  padding: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 7px -2px #000;
}

